root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 79

[*.cpp]
# sigh, tabs not supported by fourmolu
indent_style = space
indent_size = 2

